.img-item {
  max-width: auto;
  max-height: 50%;
  object-fit: fill;
  margin: 0.2rem;
  transition: all 0.3s;
  border-radius: 30px;
}
.img-item:hover {
  filter: opacity(0.6);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  justify-content: flex-end;
}

.button {
  margin-bottom: 10px;
}
.button:hover {
  box-shadow: 0 5px 35px 0px rgb(75, 119, 222);
}
